:root {
	/* Primary */
	--dark-raspberry: hsl(332, 51%, 32%);
	--Brandy-Red: hsl(14, 45%, 36%);

	/* Neutral */
	--white: hsl(0, 0%, 100%);
	--rose-white: hsl(330, 100%, 98%);
	--eggshell: hsl(30, 54%, 90%);
	--light-grey: hsl(30, 18%, 87%);
	--wenge-brown: hsl(30, 10%, 34%);
	--dark-charcoal: hsl(24, 5%, 18%);

	/* Font styles */
	--font-size: 16px;
	--ff-h: "Young Serif", serif;
	--ff-p: "Outfit", sans-serif;

	/* Layout - spacing  */
	--section-spacing: 2rem;
	--h3-spacing: 24px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	height: 100vh;
	background-color: var(--eggshell);
	font-family: var(--ff-p);
}

main {
	max-width: 736px;
	margin: 123px auto;
	border-radius: 24px;
	background-color: var(--white);
}

h1 {
	color: var(--dark-charcoal);
	font-family: var(--ff-h);
	font-size: 40px;
	font-weight: 400;
	line-height: 100%;
	margin-bottom: 24px;
}

h3 {
	font-family: var(--ff-h);
	color: var(--Brandy-Red);
	font-size: 28px;
	font-style: normal;
	font-weight: 400;
	line-height: 100%;
	margin-bottom: 24px;
}

p {
	font-family: var(--ff-p);
}

span {
	font-weight: 700;
	color: var(--wenge-brown);
}

.container {
	padding: 40px;
}
.hero {
	margin-bottom: var(--section-spacing);
}

.hero img {
	width: 100%;
	border-radius: 12px;
	margin-bottom: 40px;
}

.prep-time {
	margin-bottom: var(--section-spacing);
	background-color: var(--rose-white);
	border-radius: 12px;
	padding: 28px;
}

.prep-time h2 {
	color: var(--dark-raspberry);
	font-family: var(--ff-p);
	margin-bottom: 16px;
}

.prep-time ul {
	padding-left: 20px;
}

.prep-time li {
	padding-left: 16px;
	padding-bottom: 8px;
	color: var(--wenge-brown);
}

.prep-time li::marker {
	color: var(--Brandy-Red);
}

/* HR */
hr {
	height: 1px;
	background-color: var(--light-grey);
	border: none;
}

.ingredients {
	margin-bottom: var(--section-spacing);
}

.ingredients ul {
	margin-left: 20px;
}

.ingredients li {
	padding-left: 16px;
	padding-bottom: 8px;
	color: var(--wenge-brown);
}

.ingredients li::marker {
	color: var(--Brandy-Red);
}

.instructions {
	margin-top: var(--section-spacing);
	margin-bottom: var(--section-spacing);
}

.instructions ol {
	padding-left: 20px;
}

.instructions li {
	padding-left: 16px;
	padding-bottom: 8px;
	font-weight: 400;
	line-height: 150%;
}

.instructions li::marker {
	color: var(--Brandy-Red);
	font-weight: 600;
}
.nutrition {
	margin-top: var(--section-spacing);
}

/* TABLE  */

table {
	border-collapse: collapse;
}

.main-table {
	margin-top: 12px;
	width: 100%;
}

.main-table th {
	border-bottom: 1px var(--light-grey) solid;
	padding: 12px 0 12px 40px;
	text-align: left;
}

th:nth-child(1) {
	color: var(--wenge-brown);
	font-weight: 400;
}
th:nth-child(2) {
	color: var(--Brandy-Red);
}

/* Media Queries */

@media only screen and (max-width: 485px) {
	main {
		margin: 0 auto;
		border-radius: 0;
	}

	.prep-time ul {
		padding: 20px 60px 0 50px;
	}

	.prep-time h2 {
		margin: 0;
	}
}
